{{ component( "Dekoundgarten::Containers.Components.ContainerItemList" ) }}

{% set listType = config("Dekoundgarten.item.lists.4.list_type") %}
{% set tagIds = config("Dekoundgarten.item.lists.4.tag_ids") | split(",") %}
{% set itemListId = 4 %}
{% set isHome = services.template.isHome() %}

{% if listType == "last_seen" %}
    {% set itemList = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.lastSeenItemsList, {'items': itemsPerPage}).documents %}
{% elseif listType == "cross_selling" %}
    {% set itemList = item.CrossSellingItems.documents %}
{% elseif listType == "tag_list" %}
	{% set itemList = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.tagList, {'tagIds': tagIds}).documents %}
{% endif %}

{% if itemList is not empty %}
    {% if not isHome %}
        <hr>
    {% endif %}

    {% include 'Dekoundgarten::Containers.Partials.ItemLists.ItemListHeader.twig' with { itemListId: 3, listType: listType, isHome: isHome } %}

    <div class="row">
        <container-item-list :items="{{ itemList | json_encode }}"></container-item-list>
    </div>
{% endif %}

{% set header = trans("Dekoundgarten::Template.itemList4ListName") %}
qq{{ header }}
{% set header = trans("Ceres::Template.itemList3ListName") %}
qq1{{ header }}
