<script type="x/template" id="user-login-handlerDG">
    <div id="login-change" class="position-relative">
        <div class="dropdown" v-if="isLoggedIn">
            <a href="#" class="dropdown-toggle nav-link" id="accountMenuList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <span>{{ trans("Ceres::Template.loginHello", {"username": "${username}"}) }}</span>
            </a>
            <div class="account-menu dropdown-menu dropdown-menu-right small m-0 p-0 mw-100">
                <div class="list-group" aria-labelledby="accountMenuList" >
                    <a :href="$ceres.urls.myAccount" class="list-group-item">${ $translate("Ceres::Template.loginMyAccount") }</a>
                    <a href="#" class="list-group-item" v-logout>${ $translate("Ceres::Template.loginLogout") }</a>
                </div>
            </div>
        </div>
        <div class="sub-li-items" v-if="!isLoggedIn">
            <a class="nav-link" :href="isLogin ? 'javascript:void(0)' : '#login'" :data-toggle="isLogin ? false : 'modal'" @click="createLoginModal(); unmarkInputFields();" :aria-label="$translate('Ceres::Template.login')">
                <span>${ $translate("Ceres::Template.login") }</span>
            </a>
            <span class="pipe" v-if="showRegistration"></span>
            <a class="nav-link" :href="isRegister ? 'javascript:void(0)' : '#registration'" :data-toggle="isRegister ? false : 'modal'"  @click="createRegisterModal(); unmarkInputFields();" v-if="showRegistration" :aria-label="$translate('Ceres::Template.loginRegister')">
                <span>${ $translate("Ceres::Template.loginRegister") }</span>
            </a>
        </div>
    </div>
</script>
