<div v-stick-in-parent>

    <h1 class="h2 title">
        <span>
            ${ currentVariation | itemName }
        </span>
    </h1>

    

    <slot name="AdditionalContentAfterVAT"></slot>

</div>