@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

body, 
.wrapper-main .navbar {
    font-family: 'Josefin Sans', sans-serif;
}
body{
    color: #636363;
}
body, body > #vue-app, body > #vue-error, .page-content{
    background: #fff;
}
.top-bar{
    background-color: unset;
    color: #292b2c;
}
.wrapper-main .navbar{
    background: #fff;
    padding-top: 28px;
    border-bottom: 0;
    font-size: 1.15rem;
}
#controlsList .control-languages{
    display: none;
}
.carousel-control{
    opacity: 0.7;
}
#carousel-example-generic .icon-prev,
#carousel-example-generic .icon-next{
    width: 66px;
    height: 66px;
}
#carousel-example-generic .icon-prev:before,
#carousel-example-generic .icon-next:before{
    display: none;
}
#carousel-example-generic .icon-prev{
    background-image: url(../images/prev.png);
}
#carousel-example-generic .icon-next{
    background-image: url(../images/next.png);
}
.footer{
    padding-top: 50px;
    background: #f7f7f7;
}
.footer, .footer a{
    color: #292b2c;
}
.footer .footer-column h2{
    font-size: 1.15rem;
    font-weight: 500;
    color: #b4b3ad;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-content .footer-column{
    margin-bottom: 30px;
    font-size: 1.15rem;
}
.footer .bt-img{
    display: block;
    margin-top: 20px;
}
.footer .list-unstyled li{
    position: relative;
    padding-left: 15px;
}
.footer .list-unstyled li:before{
    color: #949596;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0de";
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: 0;
    transform: rotate(90deg);
}
.wrapper-main > nav.container-max{
    background: unset;
    margin-top: 25px;
    margin-bottom: 25px;
}
.breadcrumb-item a,
.breadcrumb-item.active,
.breadcrumb-item + .breadcrumb-item::before{
    color: #636363;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: "|";
}

.premenu .account-menu{
    margin: 0;
    padding: 0;
    border: 0;
}
.premenu .account-menu.dropdown-menu{
    z-index: 9999;
}
.premenu .account-menu a{
    padding: 0 1.25rem;
}
.premenu .sub-li-items > a{
    border-right: 1px solid #dcdcdc;
    padding: 0 30px;
    display: inline-block;
}
.premenu .sub-li-items > a:last-child{
    border-right: 0;
    padding-right: 0;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.flex-hcenter{
    align-items: center;
}

.preheader{
    line-height: 44px;
    border-bottom: 1px solid #eeeeee;
    font-size: 1.15rem;
}
.preheader .premenu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
.preheader .premenu li{
    flex: 1 0 auto;
    padding: 0 30px;
    border-right: 1px solid #dcdcdc;
}
.preheader .premenu li:last-child{
    border-right: 0;
}
.preheader .premenu li a{
    color: #292b2c;
}

.section-header{
    font-family: 'Josefin Sans', sans-serif;
    padding: 2rem 1.5rem;
    background: unset;
    border-top: 1px solid #dedede;
    color: #292b2c;
}
.section-header h1, .section-header h2, .section-header h3, .section-header h4, .section-header h5, .section-header h6 {
    color: #292b2c;
    text-transform: none;
    font-size: 1.7rem;
    font-weight: 600;
}
.section-header a.section-link-all {
    color: #292b2c;
    font-weight: 600;
}
.section-header a.section-link-all i{
    display: none;
}

.searchCol{
    margin-top: 8px;
}
.searchCol .search-input{
    width: 100%;
    border: 1px solid #00983f;
    border-radius: 5px;
    padding: 6px 40px 6px 10px;
}
.searchCol .search-submit{
    position: absolute;
    top: 2px;
    right: 24px;
    color: #00983f;
    border: 0;
    background: unset;
    font-size: 19px;
    font-weight: bold;
}

.dg-buttons > a{
    float: right;
    text-align: center;
    color: #292b2c;
}
.dg-buttons img{
    display: block;
    margin: auto;
    margin-bottom: 4px;
}
.dg-buttons .merkzettel,
.dg-buttons .warenkorb{
    padding: 0 20px;
}
.dg-buttons .merkzettel{
    border-right: 1px solid #e9e9e9;
}
.dg-buttons .warenkorb .badge{
    position: absolute;
    top: -1px;
    right: 30px;
    width: 26px;
    height: 26px;
    display: block;
    background-color: #b51010;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    line-height: 20px;
    border: 3px solid white;
}

.btn-primary{
    background-color: #0b973e;
    border-color: #0b973e;
}
.btn-primary:hover,
.btn-primary:active:hover, .btn-primary.active:hover, .open > .btn-primary.dropdown-toggle:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .btn-primary.dropdown-toggle:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle.focus {
    background-color: #00640B;
    border-color: #00640B;
}
.btn-outline-primary {
    color: #0b973e !important;
    background-image: none;
    background-color: transparent;
    border-color: #0b973e;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #0b973e;
}
.add-to-basket-container button i{
    display: none;
}
.nav-tabs .nav-link {
    padding: 0.6rem 0.6rem;
    color: #636363;
}

.single .title {
    line-height: 1.2;
    font-size: 1.7rem;
    font-weight: normal;
}
.single .vat {
    margin: 0;
    color: #636363;
}
.add-to-basket-container{
    display: block;
}
.single .qty-box .qty-input{
    width: 62px;
    margin: 0 40px;
    z-index: 2;
    border-left: 0;
    border-right: 0;
    font-size: 1.7rem;
    color: #636363;
    border: 1px solid #e8e8e8;
    border-left: 0;
    border-right: 0;
}
.single .qty-box .qty-btn-container{
    position: absolute;
    z-index: 1;
    width: 142px;
    background: 0;
    height: 41px;
    line-height: 41px;
    border: 1px solid #e8e8e8;
}
.single .qty-box .qty-btn-container .qty-btn-seperator{
    display: none;
}
.single .qty-box .qty-btn-container .qty-btn:not(.disabled):hover {
    background: unset;
}
.single .qty-box .qty-btn-container .qty-btn:first-child,
.single .qty-box .qty-btn-container .qty-btn:last-child{
    height: 100%;
    width: 40px;
}
.single .qty-box .qty-btn-container .qty-btn:first-child{
    float: right;
}
.single .qty-box .qty-btn-container .qty-btn:last-child{
    float: left;
}

.prod-row-with-title{
    margin-bottom: 45px;
}
.single .price{
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1;
}
.prod-row-title{
    font-size: 1.25rem
}
.add-to-basket-container .btn-primary,
.add-to-basket-container .add-to-wish-list{
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1.25rem;
}
.add-to-basket-container .add-to-wish-list{
    color: #636363;
    line-height: 1.25;
    display: block;
    text-align: center;
}
.prod-actions-footer-text2,
.prod-actions-footer-text1,
.single .articlenumber,
.single .vat{
    font-size: 0.9rem;
}
.prod-actions-footer-text1{
    margin-top: 25px;
    margin-bottom: 30px;
}
.prod-actions-footer-text2{
    text-align: center;
}
.prod-actions-footer-text2 i{
    display: block;
    font-size: 34px;
    margin-bottom: 15px;
}
.availability_1, .availability_2 {
    background-color: unset;
}
.add-to-wish-list:hover i {
    color: #0b973e !important;
}

.list-controls .list-controls-inner{
    background: unset;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
}
.custom-select{
    color: #636363;
}
.flex-hcenter .category-title{
    color: #636363;
    margin: 0;
}

.cmp-product-thumb{
    border: 1px solid transparent;
    box-shadow: 0 0 3px transparent;
    transition: 0.2s all ease-in;
}
.cmp-product-thumb:hover{
    border: 1px solid #e9e9e9;
    box-shadow: 0 0 3px #e9e9e9;
}
.cmp-product-thumb .thumb-meta{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.cmp-product-thumb .price{
    color: #292b2c;
    font-size: 1.25rem;
    font-weight: 600;
    min-height: 19px;
}
.cmp-product-thumb .thumb-title{
    color: #292b2c;
}
.cmp-product-thumb .btn.add-to-wish-list{
    margin-top: 0.5rem;
}
.cmp-product-thumb .btn.add-to-wish-list .fa{
    float: none;
}
.cmp-product-thumb .btn.add-to-wish-list:hover i{
    color: #fff !important;
}
.cmp-product-thumb:hover .add-to-wish-list.large{
    display: block;
}
.cmp-product-thumb .add-to-wish-list.large{
    display: none;
    position: absolute;
    z-index: 9;
    right: 15px;
    top: 10px;
    font-size: 1.7rem;
    color: #dcdcdc;
    max-width: 26px;
    line-height: 1;
}

@media (max-width: 991px) and (min-width: 768px){
    .single .price {
        float: none;
    }
}
@media (min-width: 768px){
    .single .nav-tabs .nav-item + .nav-item {
        margin-left: 0px;
    }
    .single .nav-tabs .nav-item .nav-link {
        border-top-right-radius: 0.4rem;
        border-top-left-radius: 0.4rem;
        border: 1px solid transparent;
        border-bottom: 1px solid #ddd;
    }
    .single .nav-tabs .nav-item .nav-link.active {
        border-bottom: 1px solid transparent;
        color: #636363;
    }
    .single .nav-tabs .nav-item .nav-link:not(.active):hover {
        border: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        color: #636363;
        text-decoration: underline;
    }
}
@media (min-width: 992px){
    #mainNavbarCollapsable{
        margin-top: 25px;
        border-top: 1px solid #eeeeee;
        box-shadow: 0 5px 5px -5px #e9e9e9;
        border-bottom: 1px solid #eeeeee;
    }
    #mainNavbarCollapsable ul.mainmenu > li > a{
        padding: 18px 0 18px 20px;
    }
    #mainNavbarCollapsable ul.mainmenu > li:first-child > a{
        padding-right: 0;
        padding-left: 0;
    }
    #mainNavbarCollapsable ul.mainmenu > li.ddown > a:after {
        display: none;
    }
    #mainNavbarCollapsable ul.mainmenu > li.ddown{
        color: #292b2c;
    }
    .no-touch #mainNavbarCollapsable ul.mainmenu > li:hover, 
    .touch #mainNavbarCollapsable ul.mainmenu > li.hover{
        background-color: #fff;
        color: #292b2c;
    }
    #mainNavbarCollapsable ul.mainmenu > li > ul{
        background:#fff;
    }
    #mainNavbarCollapsable ul.mainmenu > li > ul > li{
        color: #292b2c;
    }
    .top-bar .two-headers{
        background-color: #f7f7f7;
    }
    .wrapper-main > nav.container-max {
        top: 136px;
    }
    .wrapper-main #page-body {
        margin-top: 240px;
    }
    .cmp-hero .hero-main .carousel .carousel-control span {
        bottom: calc( 50% - 66px );
    }
}
@media (max-width: 991px){
    .top-bar .two-headers{
        background-color: #4d4f4d;
    }
    .wrapper-main .navbar{
        padding-top: 0;
    }
    .wrapper-main #page-body {
        margin-top: 88px;
    }
    .navbar-toggler{
        position: unset;
        float: right;
        margin-top: 30px;
        margin-bottom: -5px;
    }
}
@media (max-width: 1100px){
    .dg-buttons .merkzettel, .dg-buttons .warenkorb {
        padding: 0 10px;
    }
}