body, body > #vue-app, body > #vue-error{
    background: #fff;
}
#controlsList .control-languages{
    display: none;
}
#carousel-example-generic .icon-prev,
#carousel-example-generic .icon-next{
    width: 66px;
    height: 66px;
}
#carousel-example-generic .icon-prev:before,
#carousel-example-generic .icon-next:before{
    display: none;
}
#carousel-example-generic .icon-prev{
    background-image: url(../images/prev.png);
}
#carousel-example-generic .icon-prev{
    background-image: url(../images/next.png);
}
.footer{
    padding-top: 50px;
    background: #f7f7f7;
}
.footer .footer-column h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #b4b3ad;
}