body, body > #vue-app, body > #vue-error{
    background: #fff;
}
.footer{
    padding-top: 50px;
    background: #f7f7f7;
}
.footer .footer-column h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #b4b3ad;
}