{% set promoImg = config("Dekoundgarten.promo.image") %}
{% set promoContent = config("Dekoundgarten.promo.content") %}
<div class="promo-area">
  <img class="promo-img" src="{{ promoImg }}" />
  <div class="promo-content">
    {{ include(template_from_string(promoContent)) | raw }}
  </div>
</div>