<!-- SSR:template(category-item) -->
<script type="x/template" data-component="category-item">
    <article class="cmp cmp-product-thumb">
        <div :class="paddingClasses" :style="paddingInlineStyles">

            <client-only>
                <add-to-wish-list template-override="#add-to-wish-list-category" :variation-id="item.variation.id"></add-to-wish-list>
            </client-only>

            <div class="thumb-image">
                <div class="prop-1-1">
                    <slot name="item-image">
                        <category-image-carousel :image-urls-data="item.images | itemImages(imageUrlAccessor)"
                                                :alt="item | itemName"
                                                :title="item | itemName"
                                                :item-url="item | itemURL(urlWithVariationId)"
                                                :enable-carousel="$ceres.config.item.enableImageCarousel"
                                                :disable-carousel-on-mobile="disableCarouselOnMobile"
                                                ref="categoryImageCarousel">
                        </category-image-carousel>
                    </slot>
                </div>
            </div>

            <!-- STORE SPECIALS -->
            <slot name="store-special">
                <item-store-special v-if="storeSpecial || item.variation.bundleType === 'bundle' || item.item.itemType === 'set'"
                                    :store-special="storeSpecial"
                                    :recommended-retail-price="item.prices.rrp"
                                    :variation-retail-price="item.prices.default"
                                    :special-offer-price="item.prices.specialOffer"
                                    :decimal-count="decimalCount"
                                    :bundle-type="item.variation.bundleType"
                                    :item-type="item.item.itemType">
                </item-store-special>
            </slot>
            <!-- ./STORE SPECIALS -->

            <!-- ITEM DETAILS -->
            <slot name="item-details">
                <div class="thumb-content">
                    <a :href="item | itemURL(urlWithVariationId)" class="thumb-title">

                        <div class="thumb-meta">
                            <slot name="before-prices"></slot>

                            <div class="prices">
                                <div v-if="item.prices.rrp && item.prices.rrp.price.value > 0 && item.prices.rrp.price.value > item.prices.default.unitPrice.value" class="price-view-port">
                                    <del class="crossprice" v-if="item.prices.specialOffer">
                                        ${ item.prices.default.unitPrice.formatted | itemCrossPrice(true) }
                                    </del>
                                    <del class="crossprice" v-else>
                                        ${ item.prices.rrp.unitPrice.formatted | itemCrossPrice }
                                    </del>
                                </div>

                                <div class="price">
                                    <template v-if="item.item.itemType === 'set'">
                                        {{ trans("Ceres::Template.itemSetPrice", { price: "${itemSetPrice}" }) }} *
                                    </template>
                                    <template v-else-if="itemGraduatedPriceisCheapestSorting">
                                        {{ trans("Ceres::Template.itemFromPrice", { price: "${itemPriceGraduated}" }) }} *
                                    </template>
                                    <template v-else-if="itemGraduatedPricesalableVariationCount">
                                        {{ trans("Ceres::Template.itemFromPrice", { price: "${itemPriceGraduated}" }) }} *
                                    </template>
                                    <template v-else>
                                        ${ item.prices.default.unitPrice.formatted | specialOffer(item.prices, "unitPrice", "formatted") } *
                                    </template>
                                </div>
                            </div>

                            <slot name="after-prices"></slot>

                            <div class="category-lowest-price small" v-if="item.prices.default.lowestPrice.value && hasCrossPrice">
                                <span v-html="$translate('Ceres::Template.itemLowestPrice', {'price': item.prices.default.lowestPrice.formatted})"></span>
                            </div>

                            <div class="category-unit-price" v-if="!(item.unit.unitOfMeasurement === 'C62' && item.unit.content === 1)">
                                <span>${ item.unit.content }</span>
                                <span>&nbsp;${ item.unit.names.name }</span>
                                <span v-if="item.variation.mayShowUnitPrice">&nbsp;| ${ basePrice }</span>
                            </div>
                        </div>

                        ${ item | itemName }<!--
                        --><span v-for="attribute in item.groupedAttributes">${ "Ceres::Template.itemGroupedAttribute" | translate(attribute) }</span>
                    </a>
                </div>
            </slot>
            <!-- ./ITEM DETAILS  -->
        </div>
    </article>
</script>
<!-- /SSR -->
